.cgpa_info {
    display: inline;
}
/* 
<!-- HTML !-->
<button class="button-56" role="button">Button 56</button> */

.student_details{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 


}
.td {
    text-align: center;
}


